*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}
.hero{
  background-image: url("./images/landing.jpg");
  height: 815px;
  margin-bottom: 100px;
  
}
.fa-bars{
    font-size: 40px;
    cursor: pointer;
    padding: 60px 60px;
    font-weight: 200;
    color: #fff; 
}
.center{
  text-align: center;
}
.centimg{
  padding-bottom: 30px;
}
.intro{
  font-family: sans-serif;
  padding-bottom: 60px;
}
.intro p{
  font-size: 30px;
  color: #ccc;
  opacity: 0.6;
}
.spn{
  color: #fff;
  opacity: 1;
  font-weight: 900;

}
.food1{
  border: none;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top{
  background-color: #ccc;
  padding: 47px 0;
  border: none;
  text-align: center;
}
.bottom{
  background-color: #F15A29;
  border: none;
  padding: 39px 0;
  text-align: center;
  color: #fff;
}
.food{
  display: flex;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: transate(-50% -50%);
}
.meal{
  position: relative;
  text-align: center;
  color: #fff;
  font-style: italic;
  font-size: 20px;
}
.whole{
  width: 70%;
  margin-left: 10%;
}
.container{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  
}
.fastimages img{
  overflow: hidden;
  object-fit: cover;
}
.fastimages{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  width: 400px;
  height: 250px;
  padding: 15px 15px;
  border: 1px solid rgb(243, 240, 240);
  box-shadow: 2px 2px 5px rgb(243, 241, 241), -2px -2px 5px rgb(243, 241, 241); 
 
}
.fastfood{
  margin-left: 15%;
}
.btn{
  border: 1px solid red;
  padding: 10px 20px;
  color: red;
  background-color:white;
  border-top: 2px solid red;
  border-bottom: 1px solid rgb(243, 173, 173);
  cursor: pointer;
}
.container1{
  display: flex;
  padding-bottom: 60px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    width: 300px;
    height: 250px;
    padding: 15px 15px;
    border: 1px solid rgb(243, 240, 240);
    box-shadow: 2px 2px 5px rgb(243, 241, 241), -2px -2px 5px rgb(243, 241, 241); 
   
}
.wrapper img{
    overflow: hidden;
    object-fit: cover;  
}
.menu{
  background-image: url("./images/subscribe.jpg");
  width: 100%;
}
.container2{
  width: 60%;
  margin-left: 20%;
  border: 1px solid red;
  background-color: #fff;
  margin-bottom: 20px;
}
li{
  list-style-type: none;
}
.corusel img{
  width: 100px;
  height: 100px;
}
.corusel{
  display: flex;
  justify-content: space-between;
  align-content: center;
}